/* General Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 51);
  font-family: 'Arial', sans-serif;
}

body {
  background-image: url("/assets/image1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 30px 20px; /* Reduced padding for a smaller header */
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #007bff; /* Blue border for emphasis */
}

.header-title {
  margin-bottom: 10px;
  font-size: 2rem; /* Reduced font size */
  font-weight: bold;
}



.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); /* Adjusting height to account for header */
}

.form-box {
  width: 350px; /* Reduced width */
  padding: 40px; /* Reduced padding */
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  position: relative;
}  

.form-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.user-box {
  position: relative;
  margin-bottom: 20px; /* Reduced margin */
}

.user-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: 0.3s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 10px;
  color: #007bff;
  font-size: 12px;
}

.button {
  display: flex;
  justify-content: space-between;
}

.submit_button {
  width: 120px;
  padding: 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 20px;
}

.submit_button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.login_button {
  width: 120px;
  padding: 10px;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.login_button:hover {
  background-color: #007bff;
  color: #fff;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  border-top: 2px solid #007bff; /* Blue border for consistency */
}

.footer p {
  margin: 0;
  font-size: 14px;
}
